.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.form {
  border: 2px;
  border-color: dimgrey;
  border-style: solid;
  border-radius: 8px;
  padding: 8px;
  width: 50vw;
}
.table {
  width: 85vw;
}
